@model IEnumerable<WebProgrammingMovie.Models.Category>

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color:white;">Kategoriler</h3>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <h6><a asp-controller="Home" asp-action="GetCategory" asp-route-id="@item.Id">@item.Name</a></h6>
            </td>
        </tr>
}
    </tbody>
</table>
